/* style.css */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: white;
}

header {
  background-color: #333;
  color: white;
}

.navbar {
    list-style-type: none;
    padding: 2%;
    margin: 0;
    overflow: hidden;
    position: fixed; /* Fix the navbar at the top */
    top: 0; /* Align it to the top of the viewport */
    width: 100%; /* Ensure it spans the full width */
    z-index: 1000; /* Ensure it's above other content */
    background-color: black;
    border-bottom-style: groove;
    border-color: darkslategrey;
  }


.navbar li {
  float: left;
  margin-right: 10px;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

.page-contents {
  margin-top: 0;
}

.banner-wrapper {
  margin-top: 80px; /* Adjust this value based on the actual height of your navbar */
}

#banner {
  background-image: url('student-mental_63942274.png');
  background-size: cover; /* Changed from 'contain' to 'cover' for better scaling */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; /* Adjust text color as needed */
  z-index: 999;
}

#banner img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  padding-top: 120px;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 28%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  line-height: 1.5;
  margin: 0;
}

.intro img{
  max-height: 40%;
  max-width: 40%;
  border-radius: 50%;
}

.sobre-card {
  display: flex;
  margin-top: 12%;
  margin-bottom: 4%;
  background-color: darkslategray;
}
.sobre-card img {
  max-width: 57%;
}
.texto-intro {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  line-height: 1.5;
  margin: 0;
  font-style: italic;
  font-size: x-large;
}

.sobre-text {
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  line-height: 1.5;
  margin: 0;
  max-width: 33%;
}

.sobre-text h2 {
  padding-bottom: 10%;
  font-size: xxx-large;
}

.sobre-p{
  padding-top: 5%;
  line-height: 1.5;
}
.hands {
  height: 723px;
}

.plano-de-acao{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  line-height: 1.5;
  margin: 0;
  background-color: dark-green;
}

.plano-de-acao img {
  max-width: 100%; /* Ensures images do not exceed their container */
  height: 350px; /* Maintains aspect ratio */
  margin: 10px 0; /* Adds space above and below each image */
  border-radius: 5%;
}

.img-container {
  display: flex;
  justify-content: space-between; /* Spreads the images evenly across the container */
  gap: 5px;
  width: 80%;
}


.equipa {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  line-height: 1.5;
  margin: 0;
}

.equipa-cards {
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  flex-wrap: wrap; /* Allows the cards to wrap onto new lines if there isn't enough space */
  gap: 10px;
  width: 80%; /* Adjusted to ensure the container takes up a specific percentage of the viewport width */
  margin: auto; /* Centers the container horizontally */
}

.equipa-card-1 {
  display: flex; /* Make.servicos-card-1 a flex container */
  flex: 0 0 calc(20% - 20px); /* Each card takes up approximately one-fifth of the container width minus the gap */
  max-width: calc(20% - 20px);
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px; /* Add some padding inside the card */
  margin: 10px; /* Add some margin between cards */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 5%;
  width: 27%; /* Adjusted to fit within the container */
}

.equipa-card-1 p {
  text-align: center; /* Centers the text horizontally */
  line-height: 1.5; /* Adjusts the line spacing */

}

.equipa-card-1 img {
  max-width: 100%; /* Ensures images do not exceed their container */
  height: 150px; /* Set a fixed height for all images */
  object-fit: cover; /* Ensures the image covers the area without stretching */
  margin-top: 10px; /* Adds space above the image */
  border-radius: 50%;
  max-width: 270px;
  justify-content: center;
}

.atividades-cards {
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Enables vertical scrolling */
  gap: 10px;
  width: 100%;
  overscroll-behavior: contain;
  padding-top: 3%;
  margin-left: 5%;
  line-height: 1.5;

}

.atividades-card-1-text {
  flex: 0 0 auto; /* Prevents the text from shrinking */
  padding: 2% 5%; /* Adjust padding as needed */
  text-align: justify;
  line-height: 1.5;
  margin: 0;
  /* Ensure it's not part of the flex container that scrolls */
  position: sticky; /* Keeps the text in place */
  left: 0; /* Aligns the text to the left */
  width: 37%;
  overscroll-behavior: contain; /* Prevents scrolling from propagating to the parent */

}

.atividades-card-container {
  display: flex; /* Make the container a flex container */
  flex-direction: row; /* Align children horizontally */
  overflow-y: scroll; /* Enables vertical scrolling */
  overflow-x: hidden; /* Hides horizontal overflow */
  gap: 10px; /* Creates space between items */
  /* Ensure the container itself does not shrink */
  flex: 0 0 auto;
  width: 100%;
  max-height: 800px;

  background-color: darkslategrey;
}

.atividades-card-1 {
  flex: 0 0 auto; /* Prevents the cards from shrinking */
  height: 600px;
  color: rgb(255, 255, 255);
  background-color: black;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  animation: slideIn 1s forwards;
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 75%;
  list-style-type: none;
  line-height: 1.5;
  border-radius: 5%;
  border-style: solid;
  border-color: darkgray;
  padding-bottom: 10%;
  margin-bottom: 10%;
}

.atividades-card-1 li {
  text-align: center;
  padding-left: 7%;
  padding-right: 7%;
}

.atividades-card-1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-left: 7%;
  padding-right: 7%;
}

.atividades-card-1 img {
  max-width: 100%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.atividades-card-1 p {
  max-width: 60%;
  line-height: 1.5; /* Adjusts the line spacing */
  font-size: x-large;
}

.atividades-descrption {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  line-height: 1.5;
  margin: 0;
}

.atividades-descrption img {
  width: 99%;
  padding-top: 8%;
  margin-top:1%
}

.atividades-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  line-height: 1.5;
  margin: 0;
}

/* For Webkit browsers (Chrome, Safari, Opera) */
.atividades-card-container::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.atividades-card-container {
  scrollbar-width: none;
}

/* For IE and Edge */
.atividades-card-container {
  -ms-overflow-style: none;
}

/* For Webkit browsers (Chrome, Safari, Opera) */
.atividades-cards::-webkit-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.atividades-cards {
  scrollbar-width: none;
}

/* For IE and Edge */
.atividades-cards {
  -ms-overflow-style: none;
}


.servicos {
  position: relative;
  margin:5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.servicos-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  gap: 10px; /* Creates space between items */
  width: 70%;
}

.servicos-card-1 {
  height: 600px;;
  color: rgb(255, 255, 255);
  background-color: black; /* Example background color */
  box-shadow: 0 10px 20px rgba(0,0,0,0.1); /* Optional: Add shadow for depth */
  opacity: 0; /* Start with cards invisible */
  transform: translateY(100%); /* Start above the viewport */
  transition: transform 1s ease-in-out, opacity 1s ease-in-out; /* Smooth transition for the transform and opacity properties */
  animation: slideIn 1s forwards; /* Apply the animation */
  flex: 0 0 40%; /* Adjusted to ensure each card takes up half the width */
  margin: 5px;
  border-radius: 7%;
  display: flex; /* Make.servicos-card-1 a flex container */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children horizontally */
  align-items: center;
  border-style: double;
  border-color: #3c0000;
}

.servicos-card-1 img {
  max-width: 77%;
  border-radius: 7%;
}

.servicos-card-1 p {
  max-width: 80%;
  border-radius: 7%;
  line-height: 1.5; /* Adjusts the line spacing */

}

.servicos-title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  line-height: 1.5;
  margin: 0;

}


@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.parceria {
  display: flex;
  justify-content: center; /* Centers the images horizontally */
  padding: 20px; /* Adds padding around the images */
  border-style: solid; /* Use 'solid' for a visible border */
  border-width: 1px 0; /* 1px border on top and bottom, no border on left and right */
  border-color: brown; /* Sets the border color to brown */
  gap: 110px;
  margin-right: 21px;
}

.parceria img {
  width: 200px; /* Sets the width of the images */
  height: 166px; /* Sets the height of the images */
  object-fit: contain; /* Ensures the images cover the area without distorting their aspect ratio */
}















/* FOOTER FOR LAST */



.footer {
  background-color: black;
  color: white;
  text-align: center;
  border-top: 2px solid darkslategrey;
}

.footer.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
}

.footer.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer.col {
  text-align: left;
}

.footer h5 {
  margin-bottom: 10px;
}

.footer p {
  margin: 0;
}

.footer i {
  font-size: 24px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
}
