/* style.css */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  color:black;
}

header {
  background-color: transparent;
  color: darkseagreen;
  width: 103px;
  height: auto;
  padding-top: 5px;
  padding-left: 30px;
}


.navbar {
    list-style-type: none;
    padding: 5px;
    margin: 0;
    overflow: hidden;
    position: fixed; /* Fix the navbar at the top */
    top: 0; /* Align it to the top of the viewport */
    width: 100%; /* Ensure it spans the full width */
    z-index: 999; /* Ensure it's above other content */
    background-color: transparent;
    border-bottom-style: groove;
    border-color: darkslategrey;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center the list items horizontally */
  }


.navbar li {
  float: left;
  margin-right: 10px;
}

.navbar li a {
  display: block;
  color: darkseagreen;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: larger;
}

.navbar li a:hover {
  background-color: #111;
}

.navbar-logo {
  width: 103px;
  height: auto;
  padding-top: 5px;
  padding-left: 30px;
  position: fixed;
  left: 20px; /* Adjust as needed */
  z-index: 1000;
}


.page-contents {
  background-color: #EDB88B;
}

.banner-wrapper {
  margin-top: 1px; /* Adjust this value based on the actual height of your navbar */
}

#banner {
  background-image: url('student-mental_63942274.png');
  background-size: cover; /* Changed from 'contain' to 'cover' for better scaling */
  display: flex;
  align-items: center;
  text-align: center;
  color: white; /* Adjust text color as needed */
  z-index: 999;
}

#banner img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  padding-top: 55px;
  height: 660px;
}

.banner-text {
  display: flex;
  justify-content: space-around;
  color: white;
}

.banner-text-1 {
  display: flex;
  flex-direction: column;
  background-color: #2E282A;
  width: -webkit-fill-available;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 3%;
}

.banner-text-2 {
  display: flex;
  flex-direction: column;
  background-color: #17BEBB;
  width: -webkit-fill-available;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 3%;
}


.banner-text-3 {
  display: flex;
  flex-direction: column;
  background-color: #CD5334;
  width: -webkit-fill-available;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 3%s;
}


.parceria {
  display: flex;
  justify-content: center; /* Centers the images horizontally */
  padding: 40px; /* Adds padding around the images */
  border-style: solid; /* Use 'solid' for a visible border */
  border-width: 1px 0; /* 1px border on top and bottom, no border on left and right */
  border-color: brown; /* Sets the border color to brown */
  gap: 110px;
  margin-right: 21px;
  background-color: #111;
  width: 95%;
}

.parceria img {
  width: 200px; /* Sets the width of the images */
  height: 166px; /* Sets the height of the images */
  object-fit: contain; /* Ensures the images cover the area without distorting their aspect ratio */
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.5;
  margin: 0;
  background-color: #FAD8D6;
}

.intro img{
  max-height: 40%;
  max-width: 40%;
  border-radius: 50%;
}

.sobre-card {
  display: flex;
  background-color: #FAD8D6;
}
.sobre-card img {
  max-width: 69%;
}
.texto-intro {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.5;
  margin: 0;
  font-style: italic;
  font-size: x-large;
}

.sobre-text {
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;  line-height: 1.5;
  margin: 0;
  max-width: 33%;
}

.sobre-text h2 {
  padding-bottom: 10%;
  font-size: xxx-large;
  text-align: center;
}

.sobre-p{
  line-height: 1.5;
  font-size: large;
}
.hands {
  height: 100%;
}

.plano-de-acao{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.5;
  margin: 0;
  background-color: dark-green;
}

.plano-de-acao img {
  max-width: 100%; /* Ensures images do not exceed their container */
  height: 350px; /* Maintains aspect ratio */
  margin: 10px 0; /* Adds space above and below each image */
  border-radius: 130px;
}

.img-container {
  display: flex;
  justify-content: space-between; /* Spreads the images evenly across the container */
  gap: 40px;
  width: 80%;
}


.equipa {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.5;
  margin: 0;
  background-color: #EDB88B;
}

.equipa-cards {
  display: flex;
  flex-wrap: wrap; /* Allows the cards to wrap onto new lines if there isn't enough space */
  margin: auto; /* Centers the container horizontally */
  justify-content: center;
}


.equipa-card-1 {
  display: flex;
  flex: 0 0 calc(20% - 20px); /* Each card takes up approximately one-fifth of the container width minus the gap */
  max-width: calc(20% - 20px);
  flex-direction: column;
  align-items: center;
  margin: 10px; /* Add some margin between cards */
  border-radius: 20px;
  width: 37%; /* Adjusted to fit within the container */
}

.equipa-card-1 p {
  text-align: center; /* Centers the text horizontally */
  line-height: 1.5; /* Adjusts the line spacing */

}

.equipa-name {
  font-size:medium;
  font-weight: bold;
}

.equipa-card-1 img {
  max-width: 100%; /* Ensures images do not exceed their container */
  height: 150px; /* Set a fixed height for all images */
  object-fit: cover; /* Ensures the image covers the area without stretching */
  margin-top: 10px; /* Adds space above the image */
  border-radius: 50%;
  max-width: 270px;
  border-style: solid;
  border-color: #2E282A;
}


.atividades-cards {
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Enables vertical scrolling */
  gap: 10px;
  width: 100%;
  overscroll-behavior: contain;
  padding-top: 2%;
  margin-left: 5%;
  line-height: 1.5;

}

.atividades-card-1-text {
  flex: 0 0 auto; /* Prevents the text from shrinking */
  padding: 2% 5%; /* Adjust padding as needed */
  line-height: 1.5;
  margin: 0;
  position: sticky; /* Keeps the text in place */
  left: 0; /* Aligns the text to the left */
  width: 37%;
  overscroll-behavior: contain; /* Prevents scrolling from propagating to the parent */

}

.atividades-card-container {
  display: flex; /* Make the container a flex container */
  flex-direction: row; /* Align children horizontally */
  overflow-y: scroll; /* Enables vertical scrolling */
  overflow-x: hidden; /* Hides horizontal overflow */
  gap: 10px; /* Creates space between items */
  /* Ensure the container itself does not shrink */
  flex: 0 0 auto;
  width: 100%;
  max-height: 800px;

  background-color: #2E282A;
}

.atividades-card-1 {
  flex: 0 0 auto; /* Prevents the cards from shrinking */
  height: 600px;
  color: rgb(255, 255, 255);
  background-color: #CD5334;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  animation: slideIn 1s forwards;
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  list-style-type: none;
  line-height: 1.5;
  border-radius: 20px;
  border-style: solid;
  border-color: darkgray;
  padding-bottom: 10%;
  margin-bottom: 15%;
}

.atividades-card-1 li {
  text-align: center;
  padding-left: 7%;
  padding-right: 7%;
}

.atividades-card-1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-left: 7%;
  padding-right: 7%;
}

.atividades-card-1 img {
  max-width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.atividades-card-1 p {
  max-width: 60%;
  line-height: 1.5; /* Adjusts the line spacing */
  font-size: x-large;
}

.atividades-descrption {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  line-height: 1.5;
  margin: 0;
}

.atividades-descrption img {
  width: 99%;
  padding-top: 8%;
  margin-top:1%
}

.atividades-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  line-height: 1.5;
  margin: 0;
  font-size: xxx-large;
}

/* For Webkit browsers (Chrome, Safari, Opera) */
.atividades-card-container::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.atividades-card-container {
  scrollbar-width: none;
}

/* For IE and Edge */
.atividades-card-container {
  -ms-overflow-style: none;
}

/* For Webkit browsers (Chrome, Safari, Opera) */
.atividades-cards::-webkit-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.atividades-cards {
  scrollbar-width: none;
}

/* For IE and Edge */
.atividades-cards {
  -ms-overflow-style: none;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Space between the servicos section and the buttons */
}


.carousel-control {
  position: static;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10; /* Ensure they are above the cards */
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

#servicos {
  margin-left: 2%;
}
.servicos {
  position: relative;
  overflow: hidden;
  margin-top: 2%;
  display: flex;
  justify-content: flex-start;
  transition: transform 0.5s ease-in-out;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  flex-wrap: nowrap; /* Ensure cards stay in a single row */
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  overflow-x: hidden;
}

.servicos-cards {
  display: flex;
  gap: 66px; /* Creates space between items */
  width: 62%;
  margin-bottom: 30px;
}

.servicos-card-1 {
  height: 600px;
  color: darkseagreen;
  background-color: black; /* Example background color */
  opacity: 0; /* Start with cards invisible */
  transform: translateY(100%); /* Start above the viewport */
  transition: transform 1s ease-in-out, opacity 1s ease-in-out; /* Smooth transition for the transform and opacity properties */
  animation: slideIn 1s forwards; /* Apply the animation */
  margin: 10px;
  border-radius: 20px;
  display: flex; /* Make.servicos-card-1 a flex container */
  flex-direction: column; /* Stack children vertically */
  border-style: double;
  border-color: #3c0000;
  flex-shrink: 0;
  scroll-snap-align: start;
  width: 345px; /* Adjust based on how many cards you want to show */
  box-sizing: border-box;
}

.more-button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.more-button:hover {
  background-color: #0056b3;
}

.servicos-card-1 img {
  max-width: 100%;
  min-width: 250px;
  min-height: 180px;
  max-height: 185px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.servicos-card-1 p {
  max-width: 90%;
  border-radius: 20px;
  line-height: 1.5; /* Adjusts the line spacing */
  padding-left: 20px;
}

.servicos-card-1 h3 {
  max-width: 90%;
  border-radius: 20px;
  line-height: 1.5; /* Adjusts the line spacing */
  padding-left: 20px;
}

.servicos-title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  line-height: 1.5;
  margin: 0;
  font-size: xxx-large;
}

.servicos-description {
  padding-top: 5%;
  flex-grow: 1;
}


@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.noticias {
  position: relative;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5%;
}

.noticias-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  gap: 5px; /* Creates space between items */
  width: 70%;
}

.noticias-card-1 {
  color: darkseagreen;
  background-color: #2E282A; /* Example background color */
  opacity: 0; /* Start with cards invisible */
  transform: translateY(100%); /* Start above the viewport */
  transition: transform 1s ease-in-out, opacity 1s ease-in-out; /* Smooth transition for the transform and opacity properties */
  animation: slideIn 1s forwards; /* Apply the animation */
  flex: 0 0 calc(33.33% - 20px); /* Each card takes up approximately one-third of the container width minus the gap */
  border-radius: 20px;
  display: flex; /* Make.servicos-card-1 a flex container */
  flex-direction: column; /* Stack children vertically */
  align-items: center;
  border-style: double;
  border-color: #3c0000;
  max-width: calc(33.33% - 20px);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}

.noticias-card-1 img {
  max-width: 100%;
  min-width: 100%;
  min-height: 180px;
  max-height: 185px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.noticias-card-1 p {
  max-width: 80%;
  border-radius: 20px;
  line-height: 1.5; /* Adjusts the line spacing */

}

.noticias-title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  line-height: 1.5;
  margin: 0;
  font-size: xxx-large;
}







/* FOOTER FOR LAST */



.footer {
  background-color: black;
  color: white;
  text-align: center;
  border-top: 2px solid darkslategrey;
}

.footer.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
}

.footer.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer.col {
  text-align: left;
}

.footer h5 {
  margin-bottom: 10px;
}

.footer p {
  margin: 0;
}

.footer i {
  font-size: 24px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
}
